nav.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') Beer Collection
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon

  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/') Home
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Beers
        .dropdown-menu
          a.dropdown-item(href='/beers') Beers
          a.dropdown-item(href='/beers/new') New Beer
          a.dropdown-item(href='/beers/published') Published
          a.dropdown-item(href='/beers/drafts') Drafts